<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

  <test name="Add New User and Delete Created User">
    <classes>
      <class name="com.wildriver.testcases.Admin.AdminMGR.AddUser"/>
      <class name="com.wildriver.testcases.Admin.AdminMGR.DeleteAddedUser"/>
    </classes>
  </test>
  
  <test name="Add New User - Update Added User and Delete Updated User">
    <classes>
      <class name="com.wildriver.testcases.Admin.AdminMGR.AddUser"/>
      <class name="com.wildriver.testcases.Admin.AdminMGR.UpdateUser"/>
      <class name="com.wildriver.testcases.Admin.AdminMGR.DeleteUpdatedUser"/>
    </classes>
  </test>
  
  <!--
  <test name="Add Dealer">
    <classes>
      <class name="com.wildriver.testcases.Admin.DealerMGR.DealerDetails.AddDealer"/>
    </classes>
  </test>
  -->
  
  <test name="Add - Verify Supplier And Update - Verify Supplier">
    <classes>
      <class name="com.wildriver.testcases.Admin.PurchaseOrderMGR.SupplierMGR.SupplierDetails.AddSupplierAndVerify"/>
      <!--<class name="com.wildriver.testcases.Admin.PurchaseOrderMGR.SupplierMGR.SupplierDetails.UpdateSupplierAndVerify"/>-->
    </classes>
  </test>
  
  <test name="Add Product">
    <classes>
       <class name="com.wildriver.testcases.Admin.StockMGR.ProductEditor.AddProduct"/>
    </classes>
  </test>
  
</suite> <!-- Suite -->